.jumbotron {
    background-image: url("./images/corks.jpg");
    background-position: center;
    background-size: cover;
	color: white;
	font-family: 'Raleway', sans-serif;
	margin-bottom: auto;
	padding-bottom: 20px;
	padding-top: 25px;
	margin-right: 10%;
	margin-left: 10%;
	text-align: center;
	margin: 0 auto;
}