.jumbotron {
    background-image: url("./images/corks.jpg");
    background-position: center;
    background-size: cover;
	color: white;
	text-shadow: -1px 1px 2px #000; 
	height: 200px;
	margin-bottom: auto;
	padding-bottom: 20px;
	padding-top: 25px;
	margin-right: 10%;
	margin-left: 10%;
	text-align: center;
	margin: 0 auto;
}

body {
	background-color: rgb(247, 234, 222);
}

h1 {
	font-family: 'Sacramento', cursive;
	font-size: 100px;
	margin-top: 25px;
}

.btn {
	margin: 10px;
	opacity: .8;
	background-color: black;
	border-color: #7F171F;
}

.btn:hover {
	background-color: #7F171F;
	border-color: black;
}

h3 {
 text-align: center;
}